body {
  margin: 0;

  .overAll {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    position: relative;
    min-height: 100vh;
    transition: all ease-in-out 2s;
    //background-size: cover !important;
    background-size: cover;

    .searchBar {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 30vh;
      width: fit-content;
      opacity: 1;
      transition: all ease-in-out 0.3s;

      &:hover {
        opacity: 1;
      }

      .inputCity {
        border: none;
        width: 30vw;
        opacity: 0;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 /0.05);
        font-size: 16px;
        border-radius: 5px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        //opacity: 0.6;
        color: black;
        outline: 1px solid grey;
        transition: all ease-in-out 0.3s;

        &:focus {
          outline: 2px solid #6e6e6e;
          box-shadow: inset 0 2px 4px 0 rgb(0 0 0 /0.05);
          opacity: 1;
          color: darkgreen;
        }

        &:hover {
          outline: 1px solid orange;
          background-color: rgba(255, 255, 255, 1);
          opacity: 1;
          color: darkblue;
        }

      }

      .show {
        opacity: 1;
        background-color: white;
      }

      .btnSearch {
        border: none;
        display: none;
        opacity: 0.3;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 /0.05);
        font-size: 20px;
        font-weight: bold;
        border-radius: 15px;
        padding: -5px;
        margin: 0 20px;
        background-color: rgba(255, 255, 255, 0.6);
        color: black;
        outline: 1px solid grey;
        transition: all ease-in-out 0.3s;


        &:hover {
          opacity: 1;
          outline: 2px solid orange;
        }
      }
    }

    .nav {
      position: absolute;
      width: 96%;
      height: 10vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 68vh;
      left: 50%;
      transform: translateX(-50%);
      transition: all ease-in-out 0.3s;
      //border: red 1px solid;

      .navBtn {
        border: none;
        font-size: 80px;
        opacity: 0.6;
        background-color: rgba(255, 255, 255, 0);
        transition: all ease-in-out 0.3s;

        &:hover {
          opacity: 1;
          //color: #66cc99;
          color: orange;
        }

        &:active {
          transform: scale(0.8);
        }

      }

      .hide {
        opacity: 0;
      }
    }

    .carousel {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 65vh;
      left: 50%;
      transform: translateX(-50%);
      padding: 15px;
      border-radius: 10px;
      opacity: 0;
      background-color: rgba(255, 255, 255, 0);
      transition: all ease-in-out 0.3s;


      &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.3);
        opacity: 1;
      }

      .imgContainer {
        margin: 0 0.3vw;
        width: 7vw;
        height: 10vh;
        border-radius: 10px;
        background-size: cover;
        opacity: 0.8;
        border: 1px solid rgba(200, 200, 200, 0);
        transition: all ease-in-out 0.3s;

        &:hover {
          transform: scale(1.2) translateY(-20%);
          opacity: 1;
        }
      }

      .selected {
        border: 4px solid rgba(255, 165, 0, 1);
      }
    }

    .pageNav {
      position: absolute;
      width: 100%;
      height: 25px;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      opacity: 1;
      //border: red 1px solid;

      span {
        font-size: 12px;
        margin: 0 2px;
        color: #fae5db;
        font-weight: bold;
      }

      input {
        width: 30px;
        font-size: 15px;
        border: none;
        box-shadow: 0 1px 2px 0 rgb(0 0 0 /0.05);
        border-radius: 3px;
        opacity: 0.2;
        padding: 3px;
        background-color: rgba(255, 255, 255, 0.3);
        color: black;
        outline: 1px solid #e18d8d;
        transition: all ease-in-out 0.3s;

        &:hover {
          outline: 2px solid orange;
          background-color: rgba(255, 255, 255, 1);
          opacity: 1;
        }
      }

      .hide {
        opacity: 0;
      }

      button {
        display: none;
        font-size: 15px;
        padding: 1px;
        color: #0a0a23;
      }
    }

    .menuContainer {
      display: none;
      position: absolute;
      background-color: rgba(0, 0, 0, 0);
      //border: 1px solid #ccc;
      border: none;
      border-radius: 5px;
      padding: 5px;
      z-index: 9999;

      .menus {
        list-style: none;
        padding: 0;
        margin: 0;

        .menu {
          display: flex;
          align-items: center;
          padding: 10px;
          margin: 5px;
          font-size: 15px;
          color: white;

          ion-icon {
            margin: 0 15px 0 2px;
          }

          &:hover {
            background-color: rgba(0, 255, 255, 0.5);
            border: 1px solid #ccc;
            border-radius: 2px;
          }
        }
      }

    }

    .show {
      display: block;
    }

  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: scale(1.5) translateY(-20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 1200px) {

  body {

    .overAll {
      overflow: hidden;
      background-size: cover;

      .searchBar {
        top: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        .inputCity {
          width: 40vw;
          opacity: 1;
          font-size: 12px;
          padding: 3px;
          border: none;
          outline: none;
          background-color: rgba(255, 255, 255, 0.1);
          color: rgba(255, 255, 255, 0.1);


          &:hover {
            outline: none;
          }
        }

        .show {
          opacity: 1;
          background-color: white;
        }

        .btnSearch {
          display: inline;
          opacity: 0.2;
          width: 10vw;
          font-size: 10px;
          background-color: rgba(255, 255, 255, 0.3);
          color: white;
          border: none;
          outline: none;
          border-radius: 3px;
          padding: 0;
          margin: 5px;

          & ion-icon {
            font-size: 15px;
            margin: 0;
            padding: 0;
          }
        }

        .show {
          opacity: 1;
        }
      }

      .nav {
        width: 100%;
        top: 70%;
        justify-content: center;
        //border:1px red solid;

        .navBtn {
          opacity: 1;
          font-size: 50px;
          color: orange;
          font-weight: bold;
          margin: 0 27vw;
        }

        .hide {
          opacity: 0;
        }
      }

      .carousel {
        opacity: 1;
        width: 100%;
        top: 77%;
        flex-wrap: wrap;

        .imgContainer {
          width: 16vw;
          height: 9vh;
          padding: 1px;
          opacity: 1;
        }
      }

      .hide {
        opacity: 0;
      }

      .pageNav {
        top: 25%;
        flex-wrap: nowrap;
        justify-content: center;

        .pageNumber {
          opacity: 0.1;
        }

        .pageDestNumber {
          padding: 1px;
          margin: 2px;
          border: none;
          outline: none;
          opacity: 0.1;
        }

        .hide {
          opacity: 0;
        }

        button {
          display: block;
          border: none;
          border-radius: 20px;
          opacity: 0.1;
          color: white;
          padding: 0;
          font-size: 18px;
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.3);
          outline: none;

          & ion-icon {
            font-size: 15px;
            margin: 0;
            padding: 0 10px;
          }

        }

        .hide {
          display: none;
        }
      }


    }
  }

}